@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@300&display=swap');

:root {
  --main-color: #1e4076;
  --main-light: #dde7f9;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #717579;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
  /* font-family: "Open Sans", sans-serif; */
  font-family: 'Kantumruy Pro', sans-serif;
  font-weight: 600;
  outline: none;
}

*:focus,
*.focus {
  outline: none !important;
  box-shadow: none !important;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin: 0px;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}

body {
  background: #f1f1f1;
  overflow:hidden;
}

.dashboard-header {
  background: var(--main-color);
  height: 80px;
}

.dashboard-header .navbar-brand {
  display: flex;
  text-align: center;
  align-items: center;
  min-width: 300px;
}

.dashboard-header .navbar-brand span {
  font-weight: bold;
}

.dashboard-header .navbar-brand img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.dashboard-header .company-name {
  color: var(--white-color);
  font-weight: 300;
}

.dashboard-header .navbar-nav select{
    background: transparent;
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 3px;
    height: 100%;
}

.dashboard-header .dropdown .dropdown-toggle::after,
table .dropdown .dropdown-toggle::after {
  display: none;
}

.dropdown .dropdown-toggle {
  color: var(--main-color);
}

table .dropdown .dropdown-toggle {
  font-size: 24px;
  line-height: 22px;
}

.dashboard-header .dropdown .dropdown-toggle {
  color: var(--white-color);
}

.dashboard-header .dropdown .dropdown-toggle img,
.dashboard-header .nav-item .nav-link img {
  width: 26px;
  height: 26px;
}

.dashboard-header .dropdown .dropdown-menu {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0px;
  overflow: hidden;
}

.dashboard-header .dropdown .dropdown-menu .dropdown-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.dashboard-header .dropdown .dropdown-menu .dropdown-item {
  color: var(--black-color);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.dashboard-header .dropdown .dropdown-menu .dropdown-item:hover {
  background: var(--main-light);
}

.dashboard-header .dropdown .dropdown-menu .dropdown-header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--black-color);
  min-width: 230px;
  border-bottom: 1px solid #ddd;
}

.dashboard-header .dropdown .dropdown-menu .dropdown-header h6 span {
  display: block;
  font-size: 11px;
}

.content-row {
  display: flex;
  align-items: stretch;
  height: calc(100vh - 100px);
  margin-top: 20px;
}

.sidebar-box {
  width: 300px;
  background: var(--main-light);
  overflow: auto;
  height: 100%;
  position: relative;
  padding-bottom: 30px;
}

.sidebar-box .sidear-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 300px;
  padding: 10px;
  background: var(--main-light);
  font-size: 12px;
  color: var(--main-color);
  font-weight: 700;
}

.sidebar-box .navbar-nav .nav-link {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 20px;
  border-left: 4px solid transparent;
}

.sidebar-box .navbar-nav .nav-link img {
  width: 30px;
  height: 30px;
  filter: grayscale(100%) invert(100%) contrast(20%);
}

.sidebar-box .navbar-nav .nav-link i {
  color: var(--gray-color);
  font-size: 26px;
}

.sidebar-box .navbar-nav .nav-link span {
  color: var(--gray-color);
  font-size: 16px;
}

.sidebar-box .navbar-nav .active .nav-link {
  background: #ececec;
  border-left-color: var(--main-color);
}

.sidebar-box .navbar-nav .nav-item:not(.active):hover .nav-link {
  background: #b8cbe5;
}

/* .sidebar-box .navbar-nav .active .nav-link img {
  filter: none;
} */

.sidebar-box .navbar-nav .active .nav-link span {
  color: var(--main-color);
  font-weight: bold;
}

.sidebar-box .navbar-nav .active .nav-link i {
  color: var(--main-color);
  font-weight: bold;
}

.main-content-box {
  width: calc(100% - 300px);
  height: 100%;
}

.content-box {
  width: 100%;
  padding: 0px 10px 0px 10px;
  height: 100%;
}

.content-box .content-container {
  background: var(--white-color);
  height: 100%;
  overflow: auto;
  border-radius: 10px;
}

.content-header {
  width: 100%;
  padding: 20px 20px 10px 20px;
  border-bottom: 1px solid #ccc;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.content-header h1 {
  font-size: 24px;
  font-weight: 700;
}

.stats-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-right: 0px;
  gap: 20px;
  align-items: stretch;
}

.stats-list .stats-card {
  width: calc(20% - 20px);
  border: 2px solid var(--main-color);
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  min-height: 70px;
  border-radius: 14px;
  color: var(--main-color);
  text-decoration: none;
}

.stats-list .stats-card p {
  text-transform: capitalize;
  font-weight: 500;
}

.stats-list .stats-card h5 {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 28px;
}

.dash-title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  padding: 10px 20px;
}

.table .thead-dark th {
  background-color: #8fa0bb;
  border-color: #8fa0bb;
  border-top: none;
}

.table .thead-dark th:first-child {
  border-top-left-radius: 10px;
}

.table .thead-dark th:last-child {
  border-top-right-radius: 10px;
}

.table tr:last-child td {
  border-bottom: 1px solid #dee2e6;
}

.table tr td i{
	color:var(--main-color);
}

.table-box table {
  margin-bottom: 0px;
}

.table-box table a {
  text-decoration: none;
}

.table-paginationbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.table-paginationbox .pagination {
  margin-bottom: 0px;
}

.table-paginationbox .total-pagination {
  color: #727579;
}

.table-paginationbox .pagination .page-item.disabled .page-link {
  border: none;
  color: #afafaf;
}

.table-paginationbox .pagination .page-item:not(.disabled) .page-link {
  border: none;
  color: #000;
  border-radius: 5px;
}

.table-paginationbox .pagination .page-item.active .page-link {
  border: none;
  background: #dbe4f1;
}

.filter-box {
  padding: 20px;
}

.filter-box .filter-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  flex-direction: column;
}

.filter-box .filter-row .filter-form-row{
	display:flex;
	gap:10px;
	width:100%;
}

.filter-box .filter-row .filter-btn-row{
	display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
}

.filter-box .filter-row .form-group {
  margin-bottom: 0px;
  /* max-width: 145px; */
}

.filter-box .filter-row label {
  color: #666;
}

.filter-box .filter-row .form-control {
  background: #eff5ff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  height: auto;
  color: #666666;
  width:180px;
}

.filter-box .filter-row .form-control::placeholder {
  color: #9d9fa3;
}

.filter-box .filter-row .btn {
  line-height: 28px;
  border-radius: 8px;
}

.filter-box .filter-row .btn-light {
  color: #666;
  border-color: var(--white-color) !important;
}

.filter-box .filter-row .btn-primary {
  border-color: var(--main-color) !important;
  background: var(--main-color) !important;
}

.filter-box .filter-row .btn-outline-dark {
  border: 1.5px solid var(--main-color) !important;
  background: var(--white-color) !important;
  color: var(--main-color) !important;
  font-weight: 600;
}

.modal .modal-content {
  border: none !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal .modal-header {
  background: var(--main-color) !important;
  color: var(--white-color) !important;
}

.modal .modal-header .modal-title {
  font-weight: 700;
}

.modal .modal-header .modal-title span {
  display: block;
  font-weight: 400;
}

.modal .modal-header .close {
  text-shadow: none;
  color: #fff;
  opacity: 1;
  font-size: 35px;
  font-weight: 500;
}

.chat-history {
  max-height: 400px;
  overflow: auto;
  padding-right: 10px;
  margin-right: -10px;
}

.chat-history::-webkit-scrollbar-thumb {
  background: #ddd;
}

.chat-card {
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
}

.chat-card:last-child {
  border-bottom: none;
}

.chat-card .name-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.chat-card .name-row h1 {
  font-size: 18px;
  color: #343c44;
  font-weight: 500;
}

.chat-card .name-row p {
  font-size: 14px;
  color: #919191;
  font-weight: 400;
}

.chat-card .chat-message {
  background: #eff5ff;
  padding: 15px;
  border-radius: 10px;
}

.chat-card .chat-message p {
  font-weight: 400;
  color: #4b4b4b;
}

.chat-card .chat-message p a.read-more-btn {
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;
}

.chat-card .doc-container {
  margin-top: 5px;
}

.chat-card .doc-container h1 {
  font-size: 14px;
  font-weight: 700;
  color: #828282;
}

.chat-card .doc-container .doc-row {
  display: grid;
  padding-block: 4px;
  grid-template-columns: 50% 50%;
}

.chat-card .doc-container .doc-row .doc-type {
  font-size: 14px;
  font-weight: 400;
  color: #828282;
}

.chat-card .doc-container .doc-row .doc-file {
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  color: #2f80ed;
}

.chat-card .doc-container .doc-row .doc-file span {
  font-size: 14px;
  font-weight: 400;
}

.reply-form {
  padding: 10px 0px;
}

.reply-container{
	max-height: 280px;
    overflow: hidden auto;
    margin-right: -10px;
    padding-right: 10px;
    padding-top:10px;
    border-top:1px solid #dee2e6;
}

.reply-form p {
  font-size: 13px;
  color: #828282;
  margin-bottom: 10px;
  font-weight: 400;
}

.reply-form .form-group label {
  color: #343c44;
}

.reply-form .form-group .form-control {
  padding: 14px 10px;
  height: auto;
  border-color: #ddd;
  border-radius: 8px;
}

.reply-form .form-group .form-control::placeholder {
  color: #4b4b4b;
}

.reply-form .form-group .choose-input {
  display: block;
}

.reply-form .form-group .choose-input input[type="file"] {
  display: none;
}

.reply-form .form-group .choose-input span {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  padding: 12px 10px;
  background: #eff5ff;
  color: #bdbdbd;
  border-radius: 8px;
  border: 1px solid rgba(143, 160, 187, 0.4);
}

.reply-form .add-file-btn {
  padding: 10px;
  border-radius: 6px;
}

.reply-form .add-file-btn.btn-light.disabled,
.reply-form .add-file-btn.btn-light:disabled {
  color: #bdbdbd;
  cursor: not-allowed;
  background: #f2f2f2;
}

.reply-form .form-check label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.reply-form .form-check label input {
  position: relative;
  margin: 0px !important;
  width: 18px;
  height: 18px;
}

.reply-form button[type="submit"],
.reply-form input[type="submit"] {
  background: #1e4076;
  border: 1px solid rgba(143, 160, 187, 0.4);
  border-radius: 15px;
  color: #fff;
  padding: 10px 20px;
  min-width: 150px;
  line-height: 26px;
  margin-top: 20px;
}

.dataTables_length {
	display: none;
}

.modal{
	background: rgba(0,0,0,0.4)!important;
    overflow: auto!important;
    top:0px!important;
    opacity:1!important;
    transform:none!important;
}

.modal.fade .modal-dialog{
	-webkit-transform: none!important;
    transform: none!important;
}

#closeTicketCheckbox{
	text-align:center;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc{
	padding-left: 20px!important;
	background-position: center left!important;
}

.GrievanceHistory-modal .modal-dialog{
	max-width:708px;	
}

.GrievanceHistory-modal .modal-dialog .modal-content{
	width:100%;
	/* min-height:752px; */
}

.GrievanceReply-modal .modal-dialog{
	max-width:708px;	
}

.GrievanceReply-modal .modal-dialog .modal-content{
	width:100%;
	/* min-height:896px; */
}

@media(max-width:1600px){
	.filter-box .filter-row .form-control{
		width:140px;
	}
}

table .dropdown .dropdown-toggle {
    font-size: 24px;
    line-height: 22px;
}

.dropdown .dropdown-toggle {
    color: var(--main-color);
}

.dropdown .dropdown-menu .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

table .dropdown .dropdown-menu .dropdown-item {
    background: #eff5ff;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --main-color: #1e4076;
  --main-light: #dde7f9;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #717579;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
  /* font-family: "Open Sans", sans-serif; */
  font-family: 'Kantumruy Pro', sans-serif;
  font-weight: 600;
  outline: none;
}

*:focus,
*.focus {
  outline: none !important;
  box-shadow: none !important;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin: 0px;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}

/* body {
  background: #fff;
} */

.dashboard-header {
  background: var(--main-color);
  height: 80px;
}

.dashboard-header .navbar-brand {
  display: flex;
  text-align: left;
  align-items: center;
  min-width: 300px;
}

.dashboard-header .navbar-brand span {
  font-weight: bold;
}

.dashboard-header .navbar-brand img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.dashboard-header .company-name {
  color: var(--white-color);
  font-weight: 300;
}

.dashboard-header .dropdown .dropdown-toggle::after,
table .dropdown .dropdown-toggle::after {
  display: none;
}

.dashboard-header .dropdown .dropdown-toggle {
  color: var(--white-color);
}

.dropdown .dropdown-toggle img,
.dashboard-header .nav-item .nav-link img {
  width: 26px;
  height: 26px;
}

.dropdown .dropdown-toggle {
  color: var(--main-color);
}

table .dropdown .dropdown-toggle {
  font-size: 24px;
  line-height: 22px;
}

.dropdown .dropdown-menu {
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0px;
  overflow: hidden;
}

.dropdown .dropdown-menu .dropdown-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.dropdown .dropdown-menu .dropdown-item {
  color: var(--black-color);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background: var(--main-light);
}

table .dropdown .dropdown-menu .dropdown-item {
  background: #eff5ff;
}

.dropdown .dropdown-menu .dropdown-header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--black-color);
  min-width: 230px;
  border-bottom: 1px solid #ddd;
}

.dropdown .dropdown-menu .dropdown-header h6 span {
  display: block;
  font-size: 11px;
}

.content-row {
  display: flex;
  align-items: stretch;
  height: calc(100vh - 100px);
  margin-top: 10px;
}

.sidebar-box {
  width: 300px;
  background: var(--main-light);
  overflow: auto;
  height: 100%;
  position: relative;
  padding-bottom: 30px;
}

.sidebar-box .sidear-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 300px;
  padding: 10px;
  background: var(--main-light);
  color: var(--main-color);
  font-size: 12px;
  font-weight: 700;
}

.sidebar-box .navbar-nav .nav-link {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 20px;
  border-left: 4px solid transparent;
}

.sidebar-box .navbar-nav .nav-link img {
  width: 30px;
  height: 30px;
  filter: grayscale(100%) invert(100%) contrast(20%);
}

.sidebar-box .navbar-nav .nav-link span {
  color: var(--gray-color);
  font-size: 16px;
}

.sidebar-box .navbar-nav .active .nav-link {
  background: #ececec;
  border-left-color: var(--main-color);
}

.sidebar-box .navbar-nav .active .nav-link img {
  filter: none;
}

.sidebar-box .navbar-nav .active .nav-link span {
  color: var(--main-color);
  font-weight: bold;
}

.content-header h1 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 700;
}

.content-header .btn {
  line-height: 28px;
  border-radius: 8px;
}

.content-header .btn-outline-dark {
    border: 1.5px solid var(--main-color) !important;
    background: var(--main-color) !important;
    color: var(--white-color) !important;
    font-weight: 600;
}

.stats-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-right: 0px;
  gap: 20px;
  align-items: stretch;
}

.stats-list .stats-card {
  width: calc(20% - 20px);
  border: 2px solid var(--main-color);
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  min-height: 70px;
  border-radius: 14px;
  color: var(--main-color);
  text-decoration: none;
}

.stats-list .stats-card p {
  text-transform: capitalize;
  font-weight: 700;
}

.stats-list .stats-card h5 {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 28px;
}

.dash-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--main-color);
  padding: 10px 20px;
}

.table .thead-dark th {
  background-color: #8fa0bb;
  border-color: #8fa0bb;
  border-top: none;
}

.table .thead-dark th:first-child {
  border-top-left-radius: 10px;
}

.table .thead-dark th:last-child {
  border-top-right-radius: 10px;
}

.table tr:last-child td {
  border-bottom: 1px solid #dee2e6;
}

.table-box table {
  margin-bottom: 0px;
}

.table-box table a {
  text-decoration: none;
    white-space: nowrap;
    display: inline-flex !important;
    padding: 0 3px;
}

.table-paginationbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.table-paginationbox .pagination {
  margin-bottom: 0px;
}

.table-paginationbox .total-pagination {
  color: #727579;
}

.table-paginationbox .pagination .page-item.disabled .page-link {
  border: none;
  color: #afafaf;
}

.table-paginationbox .pagination .page-item:not(.disabled) .page-link {
  border: none;
  color: var(--black-color);
  border-radius: 5px;
}

.table-paginationbox .pagination .page-item.active .page-link {
  border: none;
  background: #dbe4f1;
}

.filter-box {
  padding: 20px;
  position: relative;
}

.filter-box .filter-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filter-box .filter-row .form-input-row {
  display: flex;
  gap: 10px;
}

.filter-box .filter-row .form-group {
  margin-bottom: 0px;
  width: 14%;
}

.filter-box .filter-row label {
  color: #666;
}

.filter-box .filter-row .form-control {
  background: #eff5ff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  height: auto;
  color: #666666;
  width: 100%;
}

.filter-box .filter-row .form-control::placeholder {
  color: #9d9fa3;
}

.filter-box .filter-row .form-btn-row {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.filter-box .filter-row .btn {
  line-height: 28px;
  border-radius: 8px;
}

.filter-box .filter-row .btn-light {
  color: #666;
  border-color: var(--white-color) !important;
}

.filter-box .filter-row .btn-primary {
  border-color: var(--main-color) !important;
  background: var(--main-color) !important;
}

.filter-box .filter-row .btn-outline-dark {
    border: 1.5px solid var(--main-color) !important;
    background: var(--main-color) !important;
    color: var(--white-color) !important;
    font-weight: 600;
}

.modal .modal-content {
  border: none !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal .modal-header {
  background: var(--main-color) !important;
  color: var(--white-color) !important;
}

.modal .modal-header .modal-title {
  font-weight: 700;
}

.modal .modal-header .modal-title span {
  display: block;
  font-weight: 400;
}

.modal .modal-header .close {
  text-shadow: none;
  color: var(--white-color);
  opacity: 1;
  font-size: 35px;
  font-weight: 500;
}

.chat-history {
  max-height: 400px;
  overflow: auto;
  padding-right: 10px;
  margin-right: -10px;
}

.chat-history::-webkit-scrollbar-thumb {
  background: #ddd;
}

.chat-card {
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
}

.chat-card:last-child {
  border-bottom: none;
}

.chat-card .name-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.chat-card .name-row h1 {
  font-size: 18px;
  color: #343c44;
  font-weight: 500;
}

.chat-card .name-row p {
  font-size: 14px;
  color: #919191;
  font-weight: 400;
}

.chat-card .chat-message {
  background: #eff5ff;
  padding: 15px;
  border-radius: 10px;
}

.chat-card .chat-message p {
  font-weight: 400;
  color: #4b4b4b;
}

.chat-card .chat-message p a.read-more-btn {
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;
}

.chat-card .doc-container {
  margin-top: 5px;
}

.chat-card .doc-container h1 {
  font-size: 14px;
  font-weight: 700;
  color: #828282;
}

.chat-card .doc-container .doc-row {
  display: grid;
  padding-block: 4px;
  grid-template-columns: 50% 50%;
}

.chat-card .doc-container .doc-row .doc-type {
  font-size: 14px;
  font-weight: 400;
  color: #828282;
}

.chat-card .doc-container .doc-row .doc-file {
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  color: #2f80ed;
}

.chat-card .doc-container .doc-row .doc-file span {
  font-size: 14px;
  font-weight: 400;
}

.reply-form {
  padding: 10px 0px;
}

.reply-form p {
  font-size: 16px;
  color: #828282;
  margin-bottom: 10px;
  font-weight: 400;
}

.reply-form .form-group label {
  color: #343c44;
}

.reply-form .form-group .form-control {
  padding: 14px 10px;
  height: auto;
  border-color: #ddd;
  border-radius: 8px;
}

.reply-form .form-group .form-control::placeholder {
  color: #4b4b4b;
}

.reply-form .form-group .choose-input {
  display: block;
}

.reply-form .form-group .choose-input input[type="file"] {
  display: none;
}

.reply-form .form-group .choose-input span {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  padding: 14px 10px;
  background: #eff5ff;
  color: #bdbdbd;
  border-radius: 8px;
  border: 1px solid rgba(143, 160, 187, 0.4);
}

.reply-form .add-file-btn {
  margin-right: 15px;
  padding: 10px;
}

.reply-form .add-file-btn.btn-light.disabled,
.reply-form .add-file-btn.btn-light:disabled {
  color: #bdbdbd;
  cursor: not-allowed;
  background: #f2f2f2;
}

.reply-form .form-check label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.reply-form .form-check label input {
  position: relative;
  margin: 0px !important;
  width: 18px;
  height: 18px;
}

.reply-form button[type="submit"],
.reply-form input[type="submit"] {
  background: var(--main-color);
  border: 1px solid rgba(143, 160, 187, 0.4);
  border-radius: 15px;
  color: var(--white-color);
  padding: 10px 20px;
  min-width: 150px;
  line-height: 26px;
  margin-top: 20px;
}

.product-box {
  padding: 10px 25px;
  padding-right: 20%;
  border-bottom: 1px solid #d9d9d9;
}

.product-box .pro-detail-card h1 {
  font-size: 14px;
  font-weight: 700;
  min-height: 40px;
  text-transform: capitalize;
}

.product-box .pro-detail-card p {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.product-detail-section {
  padding: 10px 25px;
}

.product-detail-section .nav-tabs.product-tabs {
  	display: grid;
    grid-template-columns: 8.29090909% 8.29090909% 8.29090909% 8.29090909% 8.29090909% 8.29090909% 8.29090909% 8.29090909% 8.29090909% 8.29090909% 8.29090909% 8.29090909%;
    margin-bottom: 10px;
}

.product-detail-section .nav-tabs.product-tabs li a {
  font-size: 12px;
  font-weight: 400;
  color: #4f4f4f;
  padding-block: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #8fa0bb;
  text-transform: capitalize;
  transition: all 0.6s;
}

.product-detail-section .nav-tabs.product-tabs li a.active {
  background: #eff5ff;
  border-bottom: 1px solid #1e4076;
  color: #000;
  font-weight: 600;
  transition: all 0.6s;
}

.product-detail-list {
  padding: 0px 15px;
}

.product-detail-list .product-detail-item {
  border-bottom: 1px solid #8fa0bb;
  padding: 6px 0px;
  /*margin-bottom: 6px;*/
  transition: 0.5s;
}

.product-detail-list .product-detail-item:hover {
  background: #f7ede6;
}

.product-detail-list .product-detail-item h1 {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 4px 0 0 0px
}

.product-detail-list .product-detail-item p {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.close-product {
  border-radius: 8px;
  /* padding: 6px 30px; */
  border-width: 1.5px;
  font-weight: 700;
  padding: 0.56rem 0rem;
}

.cancel-product {
    border-radius: 12px;
    padding: 10px 35px;
    border-width: 1.5px;
    font-weight: 700;
    color: #dc3545 !important;
    border-color: #dc3545 !important;
    background: #fff !important;
}

.cancel-product:hover {
    border-radius: 12px;
    padding: 10px 35px;
    border-width: 1.5px;
    font-weight: 700;
    color: #fff !important;
    border-color: #dc3545 !important;
    background: #dc3545 !important;
}
.save-product {
    border-radius: 12px;
    padding: 10px 0px;
    border-width: 1.5px;
    font-weight: 700;
    border-color: var(--main-color) !important;
    background: var(--main-color) !important;
}

.close-row {
  padding: 10px 15px;
  display: flex;
  justify-content: end;
  gap: 10px;
}

.checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 6px;
}

.checkbox-container input {
  display: none;
}

.checkmark {
  height: 20px;
  width: 20px;
  border: 2px solid #49454f;
  display: block;
  position: relative;
  border-radius: 4px;
}

table .checkmark {
  background: var(--white-color);
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.checkmark:after {
  content: "";
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  position: absolute;
  left: 5px;
  top: 2px;
}

.form-control {
  font-size: 16px;
  color: var(--black-color) !important;
}

.Save-modal.modal .modal-header {
  background: transparent !important;
  color: var(--black-color) !important;
  padding: 30px 20px 20px 20px;
}

.Save-modal.modal .modal-body {
  padding: 20px;
  font-size: 16px;
  color: var(--black-color);
}

.Save-modal.modal .modal-content {
  box-shadow: none !important;
  border-radius: 12px;
}

.product-img-add {
  height: 220px;
  width: 220px;
  cursor: pointer;
  border: 1.6px dashed var(--black-color);
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #828282;
  font-size: 16px;
  margin: auto;
}

.product-img-edit {
    height: auto;
    width: 75%;
    cursor: pointer;
    border: 1.6px dashed var(--black-color);
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #828282;
    font-size: 16px;
    margin: auto;
    margin-bottom: 5px;
    padding: 10px;
}

.product-img-add input {
  display: none;
}

.add-img-container {
  width: 90px;
  height: 90px;
  text-align: center;
  border: 1.5px solid #ddd;
  border-radius: 10px;
  position: relative;
  padding: 5px;
  overflow: hidden;
  cursor: pointer;
}

.add-img-container > img {
  height: 100%;
}

.img-action {
  background: #00000060;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  gap: 0px;
}

.add-img-container:hover .img-action {
  z-index: 1;
}

.img-container-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.slider-row {
  display: flex;
  justify-content: center;
}

.slider-row .btn i {
  font-size: 20px;
}

.product-image .nav {
  gap: 10px;
  flex-wrap: nowrap;
  overflow: hidden;
  max-width: 330px;
}

.product-image .nav a {
    width: 35px;
     /* height: 80px; */ 
    display: block;
    text-align: center;
    padding: 10px;
    /* / border: 1.5px solid #e0e0e0; / */
    border-radius: 8px;
}

.product-image .nav a.active {
  border-color: #567098;
}

.product-image .nav a img {
  height: 100%;
}

.product-image .product-img-banner {
  text-align: center;
  margin-bottom: 10px;
  height: 280px;
}

.product-image .product-img-banner-edit {
    text-align: center;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    height: 240px !important;
}

.product-image .product-img-banner img {
  width: auto;
  height: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.switch .switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e7e0ec;
  -webkit-transition: 0.4s;
  border: 2px solid #79747e;
  transition: 0.4s;
  border-radius: 30px;
}

.switch .switch-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: #79747e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 100%;
  border: 3px solid #e7e0ec;
}

.switch input:checked + .switch-slider {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.switch input:checked + .switch-slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
  background-color: var(--white-color);
  border-color: var(--white-color);
}

.toggle-row {
  display: flex;
  align-items: center;
  gap: 14px;
}

.toggle-row h6 {
  text-transform: capitalize;
}

.copyform-box .form-group label {
  font-weight: 700;
  color: var(--black-color);
}

.copyform-box .form-group .form-control {
  border-color: var(--black-color);
  height: auto;
  padding: 10px;
}

.select-td label,
.select-th label {
  width: 100px;
  justify-content: flex-end;
}

tr.trselected {
  background: #c6dbfc !important;
}

.Save-modal .modal-dialog {
  width: 800px;
  max-width: none;
}

.copy-form .modal-dialog {
  width: 789px;
  max-width: none;
}

.copy-view-form .modal-dialog {
  width: 1179px;
  max-width: none;
}



body {
  /* font-family: sans-serif; */
  font-family: 'Kantumruy Pro', sans-serif;
 }

[data-title] {
  font-size:14px; 
  position: relative;
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -26px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background:#8c9fbd;
  color: #fff;
  font-size: 12px;
  /* font-family: sans-serif; */
  font-family: 'Kantumruy Pro', sans-serif;
  white-space: nowrap;
}
[data-title]:hover::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 8px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;	
  border-bottom: 8px solid #8c9fbd;
}

.product-img-edit {
    height: auto;
    width: 75%;
    cursor: pointer;
    border: 1.6px dashed var(--black-color);
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #828282;
    font-size: 16px;
    margin: auto;
    margin-bottom: 5px;
    padding: 10px;
}

.product-image .product-img-banner-edit {
    text-align: center;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    height: 240px !important;
}

 .loding{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color:#fff;
} 
  
.box{
    position:relative;
    width:200px;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:space-evently;
}

.box span{
    display:block;
    height:20px;
    width:20px;
    background:#80a2c2;
    border-radius:50%;
    animation:all-effect 0.6s linear infinite alternate;
    transform:scale(0);
}

.box span:nth-child(1){
    animation-delay:0.1s;
}

.box span:nth-child(2){
    animation-delay:0.2s;
}

.box span:nth-child(3){
    animation-delay:0.3s;
}

.box span:nth-child(4){
    animation-delay:0.4s;
    background:#7ab0e3;
}

.box span:nth-child(5){
    animation-delay:0.5s;
    background:#7ab0e3; 
}

@keyframes all-effect{
    100%{
        transform:scale(1);
    }
    
}

.highlight{
    background-color:#f7ede6 !important;
}

.Importaint-Fields{
	font-size: 16px !important;
	font-weight: 900 !important;
	color: #1e4076;
}

.Popup{
  margin:0 0 0 0px;
}
 
.Popup ul {
  list-style: circle inside !important;
}
 
.Popup li{
  margin: 0 0 0 0px;
  padding: 0 0 0 10px;
}
 
.Popup h4{
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
}
 
.Popup p{
  margin-bottom: 10px;
  margin-top: 10px;
}
 
.red{
  color: #ed6969;
}
 
.scrollY{
  padding: 5px;
  width: 100%;
  height: 100px;
  aspect-ratio: 5/2;
  border: solid #dee2e6 1px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  border-radius: 6px;
}


.savedicon{
  color: #fff;
  margin: 0 6px 0 0px;
  font-size: 15px !important;
  border-radius: 100%;
  background-color: #219653;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 31px !important;
}

.deletedicon {
  color: #fff;
  margin: 0 6px 0 0px;
  padding: 10px;
  font-size: 15px !important;
  background-color: #eb5757;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 11px !important;
}